.button{
    padding: 12px 24px;
    border-radius: 118px;
    border: 2px solid  var(--color-dark-gray);
    background-color: transparent;
}

.button-xl{
    padding: 20px 32px;
}

.button-red{
    border: 1.5px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-tertiary);
}

