.delivery{
    display: flex;
    align-items: center;
    padding-block: 120px;
}


.delivery-imgs{
    display: grid;
    grid-template-columns: 430px 290px;
    grid-template-rows: 30px 333px 240px 33px;
    gap: 24px;
}

.delivery-img:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/4;
}

.delivery-img:nth-child(2){
    grid-row: 2/3;
}

.delivery-img:nth-child(3){
    grid-row: 3/5;
}

.delivery-info{
    padding-inline-start: 90px;
}

.delivery-title{
    font-size: 55px;
    font-weight: 500;
    line-height: 110%;
    margin-block-end: 20px;
}

.delivery-desc{
    color: var(--color-neutral-light);
    margin-block-end: 50px;
}

.delivery-points{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.delivery-points-item-clock, .delivery-points-item-offer, .delivery-points-item-shop{
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    position: relative;
    padding-inline-start: 50px;
}

.delivery-points-item-clock::before{
    content: url(../../image/clock.svg);
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-points-item-offer::before{
    content: url(../../image/receipt-tax.svg);
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery-points-item-shop::before{
    content: url(../../image/shopping-cart.svg);
    display: inline-block;
    position: absolute;
    left: 0;
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
