
.bg-dark-gray{
    background-color: var(--color-dark-gray);
}

.top-bar{
    display: flex;
    justify-content: space-between;
    color: var(--color-tertiary);
    padding: 9px 0;
}

.top-bar-contact-phone::before{
    content: url(../../image/phone.svg);
    height: 100%;
    aspect-ratio: 1;
}
.top-bar-contact-mail::before{
    content: url(../../image/mail.svg);
    height: 100%;
    aspect-ratio: 1;
}
.top-bar-contact-phone, .top-bar-contact-mail{
    display: flex;
    align-items: center;
    gap: 8px;
}

.top-bar a{
    color: var(--color-tertiary);
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.top-bar-social-menu{
    display: flex;
    align-items: center;
    gap: 4px;
}

.top-bar-contact{
    display: flex;
    gap: 25px;
    align-items: center;
}

.main-menu{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 14px;
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-list a{
    color: var(--color-neutral-gray);
}
