.services{
    padding: 120px;
}

.services-title{
    max-width: 675px;
    font-size: 55px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 64px;
}

.services-card{
    display: flex;
    flex-direction: column;
}
.services-cards{
    display: flex;
    align-items: center;
    gap: 24px;
}

.services-card-title{
    margin-top: 30px;
    font-family: var(--font-text);
    font-size: 24px;
    font-weight: 700;
}

